<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <nav>
            <div id="nav-content">
                <h1 id="logo">Weather App</h1>
                <!-- Leave as 째F and make a function that changes the 째F to 째C. -->
                <button id="temp-scale">째F</button>
                <form id="search-form">
                    <label for="search-bar"></label>
                    <input id="search-bar" type="text" placeholder="Search" />
                </form>
            </div>
        </nav>
        <div id="content">
            <div id="current-forecast">
                <h1 id="current-location"></h1>
                <h2 id="current-location-temp"></h2>
                <img id="current-condition-icon" src="" alt="" />
                <p id="current-condition-text"></p>
                <div id="low-high">
                    <div id="current-low-container">
                        <div id="current-low"></div>
                        <div>Low</div>
                    </div>
                    <div id="current-high-container">
                        <div id="current-high"></div>
                        <div>high</div>
                    </div>
                </div>
            </div>
            <div id="hourly-forecast">
                <div class="hourly-forecast-cards">
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    <div class="hourly-forecast-card">
                        <div class="hour"></div>
                        <img src="" alt="" />
                        <div class="hourly-temp"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
