* {
    margin: 0;
    padding: 0;
}
nav {
    border-bottom: 1px solid black;
}
body {
    min-height: 100vh;
}

#nav-content {
    margin: 0 1rem 0 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo {
    margin-right: auto;
}

#content {
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#current-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    border: 1px solid black;
}
#low-high {
    display: flex;
    gap: 2rem;
}
#hourly-forecast {
    display: flex;
    border: 1px solid black;
    width: 40rem;
}
.hourly-forecast-cards {
    display: flex;
    overflow: scroll;
    height: 15rem;
}
.hourly-forecast-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    padding: 0 3rem;
    background-color: rgba(116, 116, 117, 0.089);
}

.hourly-temp {
    text-align: center;
}
